@import "tailwindcss";

:root {
  --background: var(--color-zinc-800) !important;
  --foreground: var(--color-purple-500) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
}
