@import "tailwindcss";

@keyframes scroll-carousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@theme {
  --color-chicago: #585a5b;
}
.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll-carousel 30s linear infinite;
}

:root {
  --background: var(--color-zinc-800) !important;
  --foreground: var(--color-purple-500) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);
}
